.allSeries{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  padding-top: 65px;
}

.seriesTitle{
  font-size: 20px;
  color: white;
}

.singleSeries{
  background-color: #247BA0;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 20%;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
}

.addBook{
  margin-left: 35%;
}

.singleSeries p{
  text-align: center;
}

.series{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.seriesBooks{
  /* background-color: #70C1B3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  font-size: 12px;
  width: 12%;
  height: 5%;
  word-wrap: wrap;
  text-decoration: none;
  color: black;
  margin-right: 60px;
  flex: 0 0 auto;
  border-radius: 10px;
}

.seriesBooks:hover{
  background-color: #B2DBBF;
}

.seriesBooks img{
  margin-top: 5px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 50%;
}

a {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: black;
}

.addBook select{
  /* height: 24px; */
  font-size: 16px;
  border: solid 1px black;
  background: none;
  width: 20%;
  border-radius: 5px;
}

.addBook button{
  margin-left: 25px;
  border: solid 1px black;
  background: none;
}


::-webkit-scrollbar{
  height: 10px;
  margin-top: 15px;
  background-color: rgb(64, 64, 65);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(94, 99, 99);
  border-radius: 5px;
}

.allSeries input{
  border: solid 1px black;
  background-color: #F3FFBD;
  color: black;
  margin-left: 20px;
  border-radius: 5px;
}

.allSeries select{
  background-color: #F3FFBD;
}

.allSeries button{
  border: solid 1px black;
  margin-left: 5px;
  background-color: #F3FFBD;
  border-radius: 5px;
}

.scrollRight{
  flex-wrap: nowrap;
  position: absolute;
  right: 100px;
  z-index: 0;
  margin-top: 105px;
}

.scrollRight> button, .scrollLeft> button{
  display: inline-block;
  opacity: 0.8;
  background: rgb(34, 33, 33);
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.scrollLeft{
  margin-top: 10px;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 0;
  margin-top: 105px;
}

.material-icons{
  font-size: 25px;
  color: white;
  vertical-align: middle;
}
