<div *ngIf="book" class=container>
  <p>{{book.title}}</p>
  <div class=bookImage>
    <img src={{book.imageURL}}>
  </div>
  <div class=bookInfo>
    <p>ID: {{book.bookId}}</p>
    <p>Autor: {{book.author}}</p>
    <p>Rok wydania: {{book.releaseYear}}</p>
    <p *ngIf=book.series>Seria: {{book.series.seriesTitle}}</p>
    <p>Liczba stron: {{book.allPages}}</p>
    <p>Przeczytane strony: {{book.pagesRead}}<input [(ngModel)]="pagesNumber"><button (click)="changePagesRead()">Zapisz</button></p>
    <p>{{book.description}}</p>
    <p>Progres w czytaniu:</p>
    <ngb-progressbar type="info" [value]="book.pagesRead/book.allPages*100" [striped]="false" [animated]="true"><i>{{book.pagesRead}}/{{book.allPages}} ({{book.pagesRead/book.allPages*100 | number:'1.0-0'}}%)</i></ngb-progressbar>
  </div>
</div>

