.addBooks{
    margin-top: 75px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    height: auto;
    background-color: #247BA0;
    margin-bottom: 20px;
  }

  form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 p{
   margin-top: 20px;
   font-size: 18px;
 }

 textarea{
  background-color: #F3FFBD;
  border: none;
  width: 50%;
  height: 110px;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
 }

 *:focus{
   outline: none;
 }

 input{
   width: 30%;
   background-color: #F3FFBD;
   border: none;
   height: 20px;
   border-radius: 5px;
   text-align: center;
 }



 input[type=number]{
   width: 10%;
 }

 .numbersDiv{
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
 }

 .addButton{
   margin-top: 15px;
   margin-bottom: 15px;
 }
