<div class="container">
<h1>Ostatnie 7 dni:</h1>
<p>Przeczytane strony:</p>
<h2>{{stats.pagesReadIn7days}}</h2>
<p>Dodane książki:</p>
<h2>{{stats.bookAddedIn7Days}}</h2>
<p>Ukończone książki:</p>
<h2>{{stats.bookCompletedIn7days}}</h2>
<h1>Ostatnie 30 dni:</h1>
<p>Przeczytane strony:</p>
<h2>{{stats.pagesReadIn30days}}</h2>
<p>Dodane książki:</p>
<h2>{{stats.bookAddedIn30Days}}</h2>
<p>Ukończone książki:</p>
<h2>{{stats.bookCompletedIn30days}}</h2>
<h1>Ostatnie 365 dni:</h1>
<p>Przeczytane strony:</p>
<h2>{{stats.pagesReadIn365days}}</h2>
<p>Dodane książki:</p>
<h2>{{stats.bookAddedIn365days}}</h2>
<p>Ukończone książki:</p>
<h2>{{stats.bookCompletedIn365days}}</h2>
</div>
